<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% stylesheets '@twbs_css' filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	</head>

	<body>
	<div class="container">
		<div id="header" class="jumbotron">
		  <h1>Nintendo Friends</h1>
		  <p>
			A compléter.
		  </p>
		</div>
		
		<footer>
		  <p>Nintendo Friends © {{ 'now'|date('Y') }}</p>
		</footer>
	</div>
	
	
	{% javascripts '@twbs_js_and_jq' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	</body>
</html>