{% extends "UserBundle::layout.html.twig" %}

{% block title %} Inscription {% endblock %}

{% block fos_user_content %}
<h2 class="text-center"> Créer un compte </h2>
<p> Pour créer un compte, merci de renseigner les inforamtions suivantes (obligatoires) : </p>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
