{% extends "UserBundle:Profile:profil.html.twig" %}

{% block contenu_profil %}
	<div class="row">
	  <h2 class="text-center"> Mes informations </h2>
	  <div class="well col-lg-offset-3 col-lg-6 col-lg-offset-3">
	  {% include "UserBundle:Profile:edit_content.html.twig" %}
	  </div>
	</div>
{% endblock contenu_profil %}