{% extends "UserBundle:Profile:profil.html.twig" %}

{% block contenu_profil %}
  <h2 class="text-center"> Mon Profil </h2>
  {% include "UserBundle:Profile:show_content.html.twig" %}
{% endblock contenu_profil %}

