{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h2 class="text-center"> Mon Profil </h2>
{% include "UserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}

