{% extends "CoreBundle::layout.html.twig" %}

{% block title %} Page d'accueil {% endblock %}

{% block body %}
	<section>
		<p>
		Bienvenue sur le site Nintendo Friends, sur lequel vous pouvez communiquer avec des joueurs nintendo de tous horizons. 
		Vous pouvez d'ores et déjà vous inscrire ou vous connecter afin de pouvoir contacter les membres disponibles 
		pour jouer à vos jeux préférés en ligne.
		</p>
	
	</section>

{% endblock %}